<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_Anonymous"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            openTimeout = "00:00:03" closeTimeout ="00:00:03" sendTimeout = "00:00:01" receiveTimeout = "00:00:30"
            listenBacklog = "50" maxConnections="100">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
        <Server.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>net.tcp://localhost:8090</value>
            </setting>
        </Server.Properties.Settings>
    </applicationSettings>
</configuration>
